@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
*::selection {
  background: #2ae876;
  color: #fff;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #536d52;
}
.wrapper {
  position: relative;
  width: 600px;
  height: 400px;
  background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    height: 200px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
  }
  
  p {
    font-size: 4em;
    color: #252c24;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

h2 {
    font-size: 1.5em;
    color: #34af32;
    margin: 15px 0;
}
.btn-group {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
button {
    position: absolute;
    width: 150px;
    height: inherit;
    font-size: 1.2em;
    color: #fff;
    font-weight: 600;
    border-radius: 30px;
    border: 2px solid #34af32;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px hsl(119, 56%, 44%);
}

    
button:nth-child(1) {
    margin-left: -200px;
    background: #34af3281;
}
button:nth-child(2) {
    
    margin-right: -200px;
    color: hsl(119, 56%, 42%);
}
button:nth-child(3) {
    position: center;
    color: hsl(119, 56%, 42%);
}
